 {{> alertMessage }}
 {{#each data}}
 <div class="container">
     <img src="/image/{{_id}}" class=" mt-4 picture" alt="..." style="height: 100%; object-fit: cover; width: 100%; border-radius: 20px;">
 <h2 class="text-center mt-2">{{title}}</h2>
 <h5 class="mt-3">Author: {{author}}</h5>
 <h5 class="text-muted mb-3">Published On: {{publishedOnFormatted}}</h5>
 
  <div>
 <p class="h6 mb-5"> {{content}}</p>
 </div>
 </div>
 
 {{/each}}
